# Ignore Python cache files
__pycache__/
*.pyc

# Ignore egg-info directory
*.egg-info/

denoised_data/

residuals/

data/data_TP3/intermediate_files/

data/data_TP3/results_dmri/
data/data_TP3/results_ready_dmri/
data/data_TP3/results_ready_dmri_1x1x1/

data/data_TP3/ready_dmri_1x1x1.nii.gz

